<p>ask your coach anything:</p>
<form action="answer">
  <input type="text"
  name="my_question"
  id = "input"
  value="<%= params[:my_question] %>">
  <input type="submit" value="Ask!" id="button">
</form>